<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h2 {
            color: cornflowerblue;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <h2>Bem vindo, {{ .Nome }}</h2>
    <button id="botao">Botão</button>
    <script>
        var bt = document.getElementById("botao")
        bt.onclick = function () {
            alert("Botão clicado!")
        }
    </script>
</body>

</html>